WcfClient/Service References/BroadcastSub/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BroadcastingSubscribe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBroadcastingSubscribe_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBroadcastingSubscribe_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IBroadcastingSubscribe_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadcastingSubscribe_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IBroadcastingSubscribe_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadcastingSubscribe_PublishMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishMsg" />
  </wsdl:message>
  <wsdl:message name="IBroadcastingSubscribe_MsgPublished_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MsgPublished" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IBroadcastingSubscribe">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadcastingSubscribe/Subscribe" message="tns:IBroadcastingSubscribe_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadcastingSubscribe/SubscribeResponse" message="tns:IBroadcastingSubscribe_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadcastingSubscribe/Unsubscribe" message="tns:IBroadcastingSubscribe_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadcastingSubscribe/UnsubscribeResponse" message="tns:IBroadcastingSubscribe_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublishMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadcastingSubscribe/PublishMsg" message="tns:IBroadcastingSubscribe_PublishMsg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="MsgPublished">
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadcastingSubscribe/MsgPublished" message="tns:IBroadcastingSubscribe_MsgPublished_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBroadcastingSubscribe" type="tns:IBroadcastingSubscribe">
    <wsp:PolicyReference URI="#NetTcpBinding_IBroadcastingSubscribe_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IBroadcastingSubscribe/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IBroadcastingSubscribe/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishMsg">
      <soap12:operation soapAction="http://tempuri.org/IBroadcastingSubscribe/PublishMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MsgPublished">
      <soap12:operation soapAction="http://tempuri.org/IBroadcastingSubscribe/MsgPublished" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BroadcastingSubscribe">
    <wsdl:port name="NetTcpBinding_IBroadcastingSubscribe" binding="tns:NetTcpBinding_IBroadcastingSubscribe">
      <soap12:address location="net.tcp://localhost:8733/CommonServiceLibrary/BroadcastingSubscribe/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/CommonServiceLibrary/BroadcastingSubscribe/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>